POSTGRES_PASSWORD=change-me
DATABASE_URL=postgres://postgres:change-me@127.0.0.1:5432/postgres

STORAGE_SECRET_ACCESS_KEY=change-me-too
STORAGE_ENDPOINT=http://127.0.0.1:9000
STORAGE_ACCESS_KEY_ID=forgecmms
STORAGE_BUCKET=forgecmms

SITE_DOMAIN=http://localhost
BASE_URL=http://localhost:3000

RESEND_API_KEY=
RESEND_FROM=