node_modules
.DS_Store
.claude/projects
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
.kubb

.dev.vars*
!.dev.vars.example
!.env.example
report-preview.pdf
